html,
body {
	height: 100%;
	font-family: "Alegreya", sans-serif;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Staatliches", serif;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 2.25em;
}

p {
	font-size: 0.9em;
	color: #6c6e7e;
	line-height: 1.875em;
	font-family: "Alegreya", sans-serif;
}


li,
ul {
	margin: 0;
	padding: 0;
}
.fix {
	overflow: hidden;
}
.hide {
	display:none;
}


.pt100 {
	padding-top: 100px;
}
.pb100 {
	padding-bottom: 100px;
}
.mt100 {
	margin-top: 100px;
}
.mb100 {
	margin-bottom: 100px;
}
.mt60 {
	margin-top: 70px;
}

.mr20 {
	margin-right: 20px;
}

.mb0 {
	margin-bottom: 0 !important;
}

.col-push {
	left: 50%;
}

.col-pull {
	right: 50%;
}

.nopad {
	padding-left: 0;
	padding-right: 0;
}

.spad {
	padding-top: 95px;
	padding-bottom: 95px;
}

