$dark-bg: rgb(26, 24, 24);
$orange: #F48631;
$white: #ffffff;
$mainFont: "Staatliches", serif;

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Header Vars 
$headTransition: all 0.4s ease 0s;
$headBlue: #26AFFF;
$headFont: "Alegreya", sans-serif;

//About Vars 
$abtBck: #f5faf8;
$abtShad: 0 0 0.500em rgba(74, 74, 74, 0.1);
$abtGrey: #6c6e7e;

// Slider Vars
$slideF: url(../img/main1.png) center center no-repeat fixed;
$slideT: url(../img/main2.png) center center no-repeat fixed;
$slideH: url(../img/main3.png) center center no-repeat fixed;

// Preloader Vars 
$preBck: #f1f1f1;
$loaderAnime: loader 0.8s linear infinite;
$preFont: 0.875em;
$preMt: 0.625rem;

// Footer Vars
$footFont: 0.875em;
$footPad: 1.125em 0;