/* About section */

.about-section,
.team-section {
    position: relative;
    z-index: 2;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    background: $orange;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Card Section*/
.card-section {
    position: relative;
    padding-bottom: 0;
    z-index: 5;
}

.lab-card {
    position: relative;
    margin-top: -3.125rem;
    padding: 3.125em 1.563em;
    margin-bottom: 80px;
    text-align: center;
    background: $abtBck;
    -webkit-box-shadow: $abtShad;
            box-shadow: $abtShad;
    -webkit-transition: $headTransition;
    -o-transition: $headTransition;
    transition: $headTransition;
    h3 {
        text-transform: uppercase;
        font-size: 1.125em;
        color: #2b1640;
        margin-bottom: 1.875rem;
        -webkit-transition: $headTransition;
        -o-transition: $headTransition;
        transition: $headTransition;
    }
    p {
        color: $abtGrey;
        line-height: 1.875em;
        -webkit-transition: $headTransition;
        -o-transition: $headTransition;
        transition: $headTransition;
    }
    &:hover {
        background: $headBlue;
    }
    &:hover h3{
        color: $white;
    }
    &:hover p{
        color: $white;
    }
}

/* About content */
.about-contant {
    position: relative;
    z-index: 5;
    p {
        color: $abtGrey;
    }
}
#aboutContainer{
    background: $white;
    padding: 3.125em 1.563em;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.section-title {
    text-align: center;
    margin-bottom: 2.625rem;
    position: relative;
    .dark h2 {
        color: #0b1033;
    }
    .left {
        text-align: left;
        &:after {
            left: 0;
            margin-left: 0;
        }
    }
    h2 {
        text-transform: uppercase;
        color:  #222;
        font-weight: 400;
        span {
            padding: 0 3px 0.313em;
            display: inline-block;
            color: #222;
        }
    
    }
    
}
@media only screen and (min-width: 1200px){
.card-section {
    padding-bottom: 6.250rem;
}
.lab-card {
    margin-bottom: 0px;
    }
}