.section-title2 {
	text-align: center;
	margin-bottom: 90px;
	padding-top: 50px;
    position: relative;
    .dark h2 {
        color: #0b1033;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 5px;
        height: 30px;
        margin-left: -2.5px;
        background: #2be6ab;
    }
    .left {
        text-align: left;
        &:after {
            left: 0;
            margin-left: 0;
        }
    }
    h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        span {
            background: #2be6ab;
            padding: 0 3px 5px;
            display: inline-block;
            color: #0b1033;
        }
    }
}


.site-btn {
	font-family: "Oswald", sans-serif;
	font-size: 15px;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	background: #F48631;
	padding: 15px 50px;
	font-weight: 500;
	letter-spacing: 1px;
	min-width: 170px;
	text-align: center;
	border: none;
}
.btn{
	margin-top: 1.5em;
	color: white;
	font-size: 1.5em;
    font-family: 'Arial';
    &:hover {
        background-color: #F48631;
        color: white;
        transition: linear .5s;
        transform: scale(1.1);
    
    }
}


.contact-section {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        right: -15px;
        top: 0;
        background:  #F48631;;
        z-index: -1;
    }
}

.form-class input[type="text"] {
	width: 100%;
	margin-bottom: 26px;
	border: none;
	background:lightgrey;
	padding: 17px 20px;
}

/* Contact Info*/
.contact-info .section-title2 {
	margin-bottom: 40px;
}

.contact-info{
    p {
        color: #fff;
    }
    h3 {
        font-weight: 400;
        color: #2be6ab;
        margin-bottom: 20px;
    }
    .con-item {
        font-size: 14px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 991px) {

	.contact-section::after {
		width: 100%;
		right: 0;
	}
	.contact-info {
		margin-bottom: 95px;
	}
	.col-push {
		left: 0;
	}
	.col-pull {
		right: 0;
	}

}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.contact-section::after {
		width: 100%;
		right: 0;
		background:  white;
	}
	.fa-arrow-left {
		display: none;
	}

	.section-title2 h2, .contact-section p{
		color: black;
	}
	.contact-info {
		margin-bottom: 95px;
	}

	.section-title2 h2{
		padding-left: 1em;
	}
	.contact-section p{
		padding-left: 1em;
	}
	.col-push {
		left: 0;
	}
	.col-pull {
		right: 0;
	}

}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {
	.header-section {
		padding: 0 20px;
	}


	.buttons button {
		margin-bottom: 20px;
	}
}

/* Sign In Form CSS */

.contact-section{
	padding-top: 8%;
}
.section-title2 h2, .contact-section p{
	font-family: 'Staatliches', cursive;
}
.section-title2 h2{
	padding-left: 2em;
}
.contact-section p{
	padding-left: 5em; 
}

#con_form form{
	padding-bottom: 3em;
}



