/* gal */
.intro-video {
	-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
			transform: translateY(50%);
				margin-top: -1.875em;
}
@media only screen and (min-width: 1200px){
	.intro-video {
		margin-top: -5rem;
		}
}
#Gal{
	background-color: $headBlue;
	padding-top: 30%;
}
	#citiesBkgrd{
		margin-top: -5%;
		padding-top: 5%;
	}
		#citiesBkgrd, .gallery-block{
			background-color: #ffffff;
		}
	.btn, #galHead{
		font-family: "Staatliches", serif;
	
		color: #222;
		background-color: #ffffff;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	#galHead{
		font-size: 6.250em;
}
	
/* HOVER EFFECT STARTS HERE */
.btn-outline-black{
	color: black !important;
}
  
  
  .text {
	color: white;
	font-size: 1.250em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

  /* ENDS HERE */

 .img-fluid{
	width: 100%;
	height: inherit;
	object-fit: cover;
	object-position: center center;
  }
 

	/* Gallery Section Ends */