/* Header css */

/* hanmburger menu */
.responsive {
	display: none;
}

.header-section {
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 1.250em;
	z-index: 10;
	position: fixed;  
	-webkit-transition: $headTransition;
	-o-transition: $headTransition;
	transition: $headTransition;
	.menu-list {
		list-style: none;
		float: right;
		transition: $headTransition;
		.active a{
			background: $headBlue;
			color: $white;
		}
		.current a:after {
			width: 0.625em;
			/* margin-left: -0.313em; */
		}
		li {
			display: inline;
		
			&:last-child a {
				margin-right: 0;
			}
		
			a {
				
				display: inline-block;
				padding: 35px 15px;
				margin-right: 0.936rem;
				color: $white;
				position: relative;
				font-family: $headFont;
				font-size: 0.936em;
				letter-spacing: 0.09em;
				-webkit-transition: $headTransition;
				-o-transition: $headTransition;
				transition: $headTransition;
				&:hover{
					color: $orange;
				}
				&:active{
					color: $orange;
				}
			}
		}
	}
	.logo {
		padding-top: 1em;
		float: left;
		display: block;
		padding-bottom: 1.250em;
		img {
			width: 18rem;
			-webkit-transition: $headTransition;
			-o-transition: $headTransition;
			transition: $headTransition;
		}
	}

}

//javascript toggles
.menuHide{
	display: none;
}
.menubkgrd{
	background-color: white;
}
.textColorChange{
	color: #222 !important;
}
.menuShow{
	display: block !important;
}


@media only screen and (min-width: 1001px){
	.hero-content h2 {
	width: 80%;
	font-size: 5.500em;
	}
}
@media only screen and (min-width: 1200px){
	.header-section {
	padding: 0 3.125em;
}

.hero-content h2 {
	width: 50%;
	width: 50%;
    font-size: 7.500em;
	}
}
/* dropdown menu */

@media only screen and (max-width: 1000px) {
	.header-section .logo {
		padding-top: 1.250em;
	}
	.logo{
		max-width: 50%;
	}
	.hero-content h2 {
	width: 90%;
	font-size: 2em;
	}
	.header-section .menu-list {
		display: none;
		float: none;
		clear: both;
		border-top: 1px solid #ddd;
	}
	.header-section .menu-list li {
		display: inline;
	}
	.header-section .menu-list li a {
		display: block;
		padding: 10px;
		margin-right: 0;
	}
	.header-section .menu-list li a:after {
		left: 0%;
	}
	.header-section .menu-list li a:hover:after {
		width: 10px;
		margin-left: 10px;
	}
	.header-section .menu-list .current a:after {
		margin-left: 10px;
	}
	.responsive {
		display: block;
		color: #ffffff;
		font-size: 34px;
		position: absolute;
		right: 30px;
		padding-top: 10px;
	}

	.card-section {
		padding-bottom: 0;
	}

}