/* slide */
#slide1{
    background: $slideF;
}
#slide2{
    background: $slideT;
}
#slide3{
    background: $slideH;
}

.carousel-inner div{
	height: 100vh;
}
.carousel-indicators li {
	background-color: black;
}	


.hero-content {
    position: absolute;
    width: calc(100% - 210px);
    height: 100%;
    margin-left: 105px;
    display: table;
    text-align: center;
	z-index: 2;
	h2 {
	
		color: $white;
		margin:0 auto;
		text-align: center;
		font-family: $mainFont;
		border: 5px solid $white;
		display: block;
	}
	
	.hero-center {
		display: table-cell;
		vertical-align: middle;
	}

}