/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	background: $preBck;
	display: table;
	.loader {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		img {
			animation: $loaderAnime;
			-webkit-animation: $loaderAnime;
		}
		p {
			font-size: $preFont;
			margin-top: $preMt;
		}
	}
}



@keyframes loader {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes loader {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}